
td {
  border: 1px solid black;
  padding: 3px;
}
a.waves-effect.waves-light.btn.modal-trigger {
  margin-top: 25px;
  margin-left: 10px;
  font-family: 'Merienda', cursive;
}
.modal h2 {
  font-size: 22px;
}

h1 {
  font-family: 'Bad Script', cursive;
}

h2 {
  font-family: 'Merienda';
  text-decoration: underline;
}
